site_name: 西邮Linux兴趣小组培养计划
site_url: https://plan.xiyoulinux.com/
repo_url: https://github.com/xiyou-linuxer/Plan
repo_name: xiyou-linuxer/Plan

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/xiyou-linuxer

copyright: © 2006-2024 西邮 Linux 兴趣小组 

extra_css:
  - asset/custom.css

theme:
  name: material
  icon:
    logo: material/bulletin-board
  favicon: /favicon.ico
  font: false
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  language: zh

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.superfences