@import "tailwindcss";
@plugin "@iconify/tailwind4";

@font-face {
    font-family: 江城律动宋;
    src: url(/江城律动宋.subset.woff2);
}

.type-song {
    font-family: 江城律动宋;
    flex-shrink: 0;
}

[class*="icon-["] {
    font-size: 1.3em;
    vertical-align: text-top;
}

article > main > h1 {
    margin-top: 1rem;
}

article > main > :where(h2, h3, h4, h5, h6, a) {
    margin: 1.2em 0 .8em;
}

article > main p + p {
    margin-top: .8em;
}

article > main > :where(ul, ol) :where(ul, ol) {
    margin-top: .75em;
}

.nextra-callout > div:last-child> :not(:first-child) {
    line-height: 1.5;
    margin: 0.5em 0 0.25em;
}


