.md-typeset.md-typeset :where(h1, h2, h3, h4, h5, h6) {
    font-weight: bold;
}

.md-typeset table:not([class]) {
    font-size: .9em;
}

.md-typeset.md-typeset table:not([class]) :where(td, th) {
    padding: .5em .8em;
}
.md-typeset .md-button {
    border-width: 1.5px;
    border-radius: .25em;
    padding: .2em .5em;
    line-height: normal;
}

